body {
  font-family: 'Trade Winds', cursive;
}

h1 {
  text-align: center;
}

.keyText {
  width: 3vw;
  background-color: powderblue;
  color: Black;
  border: solid black 1px;
  margin: 0.5vw auto;
}


#drum-machine {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: powderblue;
  padding: 15px;
  margin: auto;
  width: 800px;
}

.drum-pad {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  padding: 0px;
  font-size: 3vh;
  text-align: center;
  background-size: cover;
  height: 250px;
}

#display {
  height: 5vw;
}

#drum-Q {
  background-image: url('./assets/snare.jpg');
}

#drum-W {
  background-image: url('./assets/cross_stick.jpg');
}

#drum-E {
  background-image: url('./assets/bass_drum.jpg');
}

#drum-A {
  background-image: url('./assets/closed_high_hat.jpg');
}

#drum-S {
  background-image: url('./assets/open_high_hat.jpg');
}

#drum-D {
  background-image: url('./assets/cymbal.jpg');
}

#drum-Z {
  background-image: url('./assets/kick_hat.jpg');
}

#drum-X {
  background-image: url('./assets/kick.jpg');
}

#drum-C {
  background-image: url('./assets/cymbal_2.jpg');
}
